<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>国际服登录 - PaiGramTeam</title>
    <script src="/js/gt.js" type="text/javascript"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            background: white;
            padding: 2em;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        input {
            width: 100%;
            padding: 0.5em;
            margin: 0.5em 0;
        }

        .hidden {
            display: none;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1 class="text-center">国际服登录</h1>
            <div class="form-group">
                <label for="email">邮箱</label>
                <input type="email" id="email" class="form-control" placeholder="请输入邮箱" required>
            </div>
            <div class="form-group">
                <label for="password">密码</label>
                <input type="password" class="form-control" id="password" placeholder="请输入密码" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control hidden" id="code" placeholder="请输入邮件验证码" required>
            </div>
            <div id="captcha">
                <div id="wait" class="hidden">正在加载验证码...</div>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-primary" id="loginBtn">登录</button>
                <button type="reset" class="btn btn-secondary" id="cancelBtn">重置</button>
            </div>
            <div id="message"></div>
            <div class="form-group">
                <input type="text" class="form-control hidden" id="cookie" disabled>
            </div>
            <div class="form-group text-center">
                <button id="copyBtn" class="hidden btn btn-primary">复制 cookie</button>
            </div>
        </div>
    </div>
</div>

<script>
    var mmt = null;
    var mmt_result = null;
    var ticket = null;
    var device_id = '{{ device_id }}';
    var old_code = null;

    function startGeetest() {
        if (!mmt) {
            return;
        }
        console.log("start init geetest");
        document.getElementById("wait").classList.remove('hidden');
        const initParams = {
            gt: mmt.gt,
            challenge: mmt.challenge,
            new_captcha: mmt.new_captcha,
            api_server: "api-na.geetest.com",
            https: /^https/i.test(window.location.protocol),
            product: "bind",
        };
        window.initGeetest(initParams, function (captchaObj) {
            captchaObj.appendTo("#captcha");
            captchaObj.onReady(function () {
                document.getElementById("wait").classList.add('hidden');
                captchaObj.verify();
            });
            captchaObj.onSuccess(function () {
                const validate = captchaObj.getValidate();
                mmt_result = {
                    session_id: mmt.session_id,
                    ...validate,
                }
                console.log("geetest success");
                console.log(mmt_result);
                if (old_code === 3) {
                    document.getElementById("message").innerText = "验证已通过！请等待";
                    login();
                } else {
                    document.getElementById("message").innerText = "验证已通过！邮件已发送，请输入验证码。";
                    startInputCode();
                }
            });
        });
    }

    function startInputCode() {
        const code_div = document.getElementById('code');
        document.getElementById('message').innerText = '请输入验证码。';
        document.getElementById('code').classList.remove('hidden');
        code_div.disabled = false;
    }

    function login() {
        const email_div = document.getElementById('email');
        const password_div = document.getElementById('password');
        const code_div = document.getElementById('code');
        // 冻结输入框
        email_div.disabled = true;
        password_div.disabled = true;
        code_div.disabled = true;
        const email = email_div.value;
        const password = password_div.value;
        const code = code_div.value;

        if (!email || !password) {
            document.getElementById('message').innerText = '请输入邮箱和密码。';
            email_div.disabled = false;
            password_div.disabled = false;
            return;
        }

        const data = {
            email,
            password,
            device_id,
            code,
            ...(mmt_result && {mmt_result}),
            old_code,
            ...(ticket && {ticket}),
        }
        console.log("post data");
        console.log(data);

        fetch('/login_start', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(data)
        }).then((response) => {
            response.json().then((result) => {
                console.log("received data");
                console.log(result);
                old_code = result.code;
                if (result.code === 0) {
                    document.getElementById('message').innerText = '登录成功！🎉';
                    document.getElementById('cookie').value = result.result;
                    document.getElementById('cookie').classList.remove('hidden');
                    document.getElementById('copyBtn').classList.remove('hidden');
                } else if (result.code === 1) {
                    // 错误
                    document.getElementById('message').innerText = result.message;
                    password_div.disabled = false;
                    code_div.disabled = false;
                } else if (result.code === 2) {
                    ticket = result.ticket;
                    startInputCode();
                } else {
                    if (result.ticket) {
                        ticket = result.ticket;
                    }
                    mmt = result.mmt;
                    startGeetest();
                }
            });
        });
    }

    document.getElementById('loginBtn').addEventListener('click', async () => {
        login();
    });

    document.getElementById('cancelBtn').addEventListener('click', async () => {
        mmt = null;
        mmt_result = null;
        ticket = null;
        document.getElementById('email').value = '';
        document.getElementById('email').disabled = false;
        document.getElementById('password').value = '';
        document.getElementById('password').disabled = false;
        document.getElementById('code').value = '';
        document.getElementById('code').classList.add('hidden');
        document.getElementById('message').innerText = '';
        document.getElementById('cookie').value = '';
        document.getElementById('cookie').classList.add('hidden');
        document.getElementById('copyBtn').classList.add('hidden');
    });

    document.getElementById('copyBtn').addEventListener('click', async () => {
        const cookie = document.getElementById('cookie').value;
        await navigator.clipboard.writeText(cookie);
        document.getElementById('message').innerText = '已复制 cookie 到剪贴板。';
    });
</script>
</body>
</html>
